<form method="POST" data-request="onGetSlots">
    <div class="grid two-columns">
        <div>
            <label>Select Studio</label>
            <select name="studio" required>
                {% for studio in studios %}
                    <option value="{{ studio.id }}">{{ studio.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Select Date</label>
            <select name="date" required>
                <option value="">Select a Date</option>
                {% for i in 0..6 %}
                    {% set date = "now"|date('Y-m-d')|date_modify("+#{i} day") %}
                    <option value="{{ date.format('Y-m-d') }}">{{ date.format('l dS F') }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit">Get Free Slots</button>
</form>

<div id="slots"></div>