<form id="book-slots" method="POST">
    <h3>Booking {{ studio.name }} on {{ date.format('l dS F') }}</h3>
    {% if slots and slots|length > 0 %}
        <input type="hidden" name="date" value="{{ date.format('Y-m-d') }}" />
        <input type="hidden" name="studio_id" value="{{ studio.id }}" />
        {% for time in slots %}
            <label><input type="radio" name="time" value="{{ time.from }}-{{ time.to }}" data-price="{{ time.price }}" {% if time.booked %}disabled {% endif %}/> {% if time.booked %}<span style="text-decoration: line-through;">{% endif %}{{ time.from|date('H:i') }} to {{ time.to|date('H:i') }} - £{{ time.price|number_format(2) }}{% if time.booked %}</span>{% endif %}</label>
        {% endfor %}
        <label>Name</label>
        <input name="name" type="text" required />
        <label>Email</label>
        <input name="email" type="email" required />
        <label>Phone</label>
        <input name="phone" type="text" />
        <label>Reason for Booking</label>
        <textarea name="reason"></textarea>

        <div id="payment-element">
            <p>Payment Amount: <strong>£<span id="amount"></span></strong></p>
            <label for="card-element">Credit or debit card</label>
            <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
        </div>
<label style="margin-top: 1rem"><input type="checkbox" name="agree" required=""> By ticking this box you are signing our studio hire waiver agreement and therefore you agree to the following terms:<br>

I confirm that I hold all the necessary qualifications and insurance cover that is required by law in order for me to carry out the activities for which I am hiring out the exercise studio.<br>

I understand that I am fully responsible for the health and safety of myself, my class/activity participants and any other persons that attend the activities that I carry out when hiring out the exercise studio.<br>

Furthermore, I agree to indemnify THE WORKOUT BRISTOL LTD against any and all claims of loss, damage and/or injury that may arise from the activities that I am carrying out at the Workout Bristol Ltd exercise studio.</label>


        <button type="submit" id="submit" style="display: none;">Submit</button>
    {% else %}
        <p>No slots available on selected day</p>
    {% endif %}
</form>

<script>

    var card, elements, stripe;
    stripe = Stripe("{{ stripe_key }}");

    function unmountCard() {
        if (card) card.destroy();
        card = null;
        elements = null;
    }

    var form   = document.getElementById('book-slots');
    var slots  = form.querySelectorAll('input[name="time"]');
    var amount = form.querySelector('#amount');
    var displayError = form.querySelector('#card-errors');
    var button = form.querySelector('#submit');

    for (var i = 0; i < slots.length; i++) {
        slots[i].addEventListener('change', function(e) {

            unmountCard();

            button.style.display = "block";

            var price = this.dataset.price * 100;
            amount.textContent = Number(this.dataset.price).toFixed(2);
            
            if (price > 0) {

                elements = stripe.elements();
                card = elements.create('card');
                card.mount('#card-element');

                card.on('change', function(event) {
                    if (event.error) {
                        displayError.textContent = event.error.message;
                    }
                    else {
                        displayError.textContent = '';
                    }
                });

            }
        });
    }

    
    form.addEventListener('submit', function(event) {

        if (form.classList.contains('submitting')) return false;

        form.classList.add('submitting');

        event.preventDefault();

        var billing_details = {
            name: form.querySelector('input[name="name"]').value,
            email: form.querySelector('input[name="email"]').value,
        };

        var method_element = createHiddenInput(form, 'payment_method_id');

        stripe.createPaymentMethod('card', card, {
            billing_details: billing_details
        }).then(function(result) {
            if (result.error) {
                displayError.textContent = result.error.message;
            }
            else {
                createHiddenInput('payment_method_id', result.paymentMethod.id);
                submitForm();
            }
        });

    });

    function handleOnCompleteResponse(response, form) {
        if (response.status != 200) {
            displayError.textContent = response.statusText;
            return;
        }
        var data = response.responseJSON;
        if (data.error) {
            displayError.textContent = data.message;
            return;
        }
        // If this isn't a straightforward success
        else if (!data.X_OCTOBER_REDIRECT) {
            handleServerResponse(data);
        }
    }

    function handleServerResponse(data) {

        if (data.requires_action) {
            // Use Stripe.js to handle required card action
            stripe.handleCardAction(
                data.payment_intent_client_secret
            ).then(function(result) {
                if (result.error) {
                    displayError.textContent = result.error.message;
                }
                else {
                    createHiddenInput('payment_intent_id', result.paymentIntent.id);
                    submitForm();
                }
            });
        }
        else {
            displayError.textContent = 'Payment Success. Please wait while we redirect you.';
        }
    }

    function submitForm() {
        $(form).request('onBook', {
            complete: function(response) {
                handleOnCompleteResponse(response, form);
            }
        });
    }

    function createHiddenInput(name, value) {
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', name);
        hiddenInput.setAttribute('value', value);
        form.appendChild(hiddenInput);
    }
</script>
